{{#if level1}}
  <h2 class={{if chosen "statement-list-subheading--header statement-list-subheading--header--chosen" "statement-list-subheading--header"}}>ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page. {{link-to "Top." "db.list" model (query-params node=slug page=1 go="")}})</small>{{/if}}</h2>
{{else if level2}}
  <h3 class={{if chosen "statement-list-subheading--header statement-list-subheading--header--chosen" "statement-list-subheading--header"}}>ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page. {{link-to "Top." "db.list" model (query-params node=slug page=1 go="")}})</small>{{/if}}</h3>
{{else}}
  <h4 class={{if chosen "statement-list-subheading--header statement-list-subheading--header--chosen" "statement-list-subheading--header"}}>ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page. {{link-to "Top." "db.list" model (query-params node=slug page=1 go="")}})</small>{{/if}}</h4>
{{/if}}
{{#unless continued}}
  <p>{{prologue}}</p>
{{/unless}}
