{{#if level1}}
  <h2 class="statement-list-subheading--header">ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page)</small>{{/if}}</h2>
{{else if level2}}
  <h3 class="statement-list-subheading--header">ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page)</small>{{/if}}</h3>
{{else}}
  <h4 class="statement-list-subheading--header">ยง{{numberPath}}: {{title}} {{#if continued}}<small>(Continued from previous page)</small>{{/if}}</h4>
{{/if}}
{{#unless continued}}
  <p>{{prologue}}</p>
{{/unless}}
