<nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".smm-navbar" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}{{#if databaseModel}}SMM{{else}}SMM Metamath Interface{{/if}}{{/link-to}}
    </div>
    <div class="collapse navbar-collapse smm-navbar">
      <ul class="nav navbar-nav">
        {{#if databaseModel}}
          <li class="active">{{link-to databaseModel.title 'db.list' databaseModel}}</li>
        {{else}}
          <p class="navbar-text">No database selected</p>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if databaseModel}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Math display <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{dropdown-item name="GIFs" value="htmldef" current=prefs.mathDisplay}}
              {{dropdown-item name="Unicode symbols" value="althtmldef" current=prefs.mathDisplay}}
              {{dropdown-item name="LaTeX output" value="latexdef" current=prefs.mathDisplay}}
              {{dropdown-item name="Source (ASCII)" value="source" current=prefs.mathDisplay}}
            </ul>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
  <footer class="application--footer text-muted">
    <p>
      <a href="http://us.metamath.org/">Metamath</a> is a system for managing formal proofs and a collection of many thousands developed using the system.
      It was created by Norman Megill and is developed by an international team of volunteers.
      The databases used here are <a href="http://us.metamath.org/copyright.html#db">in the public domain</a> and the <a href="http://us.metamath.org/index.html#mmprog">reference implementation</a> is <a href="http://us.metamath.org/copyright.html#sw">open source under the GPL</a>.
    </p>

    <p>
      SMM is a programming toolkit and interactive web interface for the Metamath system created by Stefan O'Rear.
      <a href="https://github.com/sorear/smm">SMM</a> and <a href="https://github.com/sorear/smm-webui">its web interface</a> are developed on GitHub and MIT licensed.
    </p>
  </footer>
</div>
